*.ipynb
scratch_code.txt
__pycache__/
*.pkl
important_output/
automation/test_june_pipeline.py
automation/models/
POSEIDON_DATA_DASHBOARD_2026/
POSEIDON_WPP711_Outputs_2026/
*prove_gfw_data.py
*upload_to_supabase.py
*verify_supabase_july.py
automation/spatial/
